.grid-container {
    display: grid;
    grid-auto-rows: minmax(210px, auto);
gap: 10px;
background-color: black;
    grid-template-areas:
    "A B B"
    "C C D"
    "E F D"
}
/* Under grid-container har vi kodet så boksene fylder de rigtige størrelser på skærmen og kodet så de ligger med et hvis mellemrum fra hinanden. Mellemrummene har vi også farvet sort. Vi har også fået boksene til at ligge nogle bestemte steder på skærmen, ved fx. at give gridsene koden B B (boks 2). */
.grid-item-1{
    display: flex;
    align-items: center;
    justify-content: center;
    /* Vi har centreret teksten i griden ved at bruge de 3 kodestykker oven for (display, align-items og justify-content). Dette gælder også for de andre grids. */
    grid-area: A;
    background-color: #2573d9;
}
.grid-item-2{
    display: flex;
    align-items: center;
    justify-content: center;
    grid-area: B;
    background-color: #5DBF17;
}
.grid-item-3{
    display: flex;
    align-items: center;
    justify-content: center;
    grid-area: C;
    background-color: #F29F05;
}
.grid-item-4{
    display: flex;
    align-items: center;
    justify-content: center;
    grid-area: D;
    background-color: #f21905;
}
.grid-item-5{
    display: flex;
    align-items: center;
    justify-content: center;
    grid-area: E;
    background-color: #A33FBF;
}
.grid-item-6{
    display: flex;
    align-items: center;
    justify-content: center;
    grid-area: F;
    background-color: #3d90d9;
}
